.chart { position: relative; }

.chart-title {
    color: $blue;
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    font-size: 1.4em;
    margin-left: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.chart-chatter {
    color: $medium-grey;
    font-family: Arial, sans-serif;
    margin-bottom: 2em;
    margin-left: 30px;
    margin-top: 0.5em;
}

line,
rect {
    // shape-rendering: crispEdges;
}

line {
    opacity: 0.25;
    stroke-width: 2px;
}

line.line--hover {
    opacity: 1;
}

line.california-riverside, text.california-riverside {
    opacity: 1;
}

text.california-riverside {
    fill: $blue;
}

.axis {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    fill: #999;

    path,
    line {
        fill: none;
        stroke: #ccc;
        shape-rendering: crispEdges;
    }

    &.y {
        path { display: none; }
        .tick line { display: none; }
    }
}

.grid {
    path { display: none; }
    .tick {
        stroke: #eee;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    &.y {
        g:first-child line { display: none; }
    }
}

.value text {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;

    &.in { fill: #fff; }
    &.out { fill: #999; }
    &.other { display: none; }
}

text {
    font-family: "Futura Today Normal", Arial, sans-serif;
}

.column-label {
    font-size: 12px;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

